.formulario {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 5rem 0;
    gap: 5rem
}

.formulario form {
    border-radius: 20px;
    padding: 36px 64px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
    background-color: #F2F2F2;
}