.time {
    text-align: center;
    padding: 32px;
    
}

.time h3 {
    font-size: 32px;
    border-bottom: 4px solid;
    display: inline-block;
    padding-bottom: 8px;
}

.time .colaboradores {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 32px 0;
    gap: 28px;
    flex-wrap: wrap;
}

.time button{
    background-color: #ff0000;
    font-size: 18px;
    padding: 24px;
    border:none;
    cursor: pointer;
    color: #fff;
    margin: 12px 0;
}

.time button:hover{
    transition: .3s;
    background-color: #dd2420;
}